.form-widget {
    background-color: #bbb;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.form-widget-btn {
    margin: 0 5px;
}

.form-widget-btn:first-child {
    margin-left: 0;
}

.form-widget-btn:last-child {
    margin-right: 0;
}

.form-widget-hidden {
    margin: 0!important;
}

.form-widget-textarea {
    max-width: 100%
}

.form-widget-img {
    max-width: 300px;
    max-height: 300px;
}

.form-widget-div {
    display: grid;
    margin-bottom: 10px;
}