.table-div {
    background-color: #ddd;
    display: table;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
}

.table-head-div {
    display: table-row;
    font-weight: bold;
}

.table-body-div {
    display: table-row;
}

.table-cell-div {
    padding: 5px;
    display: table-cell;
}

.table-link {
    color: #333;
}

.table-link:hover {
    color: #555;
}

.table-link:focus {
    color: #555;
}

.table-div {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}

.table-head-div .table-cell-div {
    background: #BCEBDD;
    color: #333;
    padding: 10px 20px;
}

.table-cell-div {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

.table-cell-div:first-child {
    text-align: left;
}

.table-head-div .table-cell-div:first-child {
    border-top-left-radius: 10px;
}

.table-head-div .table-cell-div:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

.table-body-div .table-cell-div {
    padding: 10px 20px;
    background: #F8E391;
}

.table-body-div:last-child .table-cell-div:first-child {
    border-radius: 0 0 0 10px;
}

.table-body-div:last-child .table-cell-div:last-child {
    border-radius: 0 0 10px 0;
}

.table-body-div .table-cell-div:last-child {
    border-right: none;
}

.table-body-div:last-child .table-cell-div {
    border-bottom: none;
}