#right-nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
}

#right-nav-bar a {
    background-color: #b2dfdb;
    border: 1px solid #80cbc4;
    border-bottom: 0;
    color: #333;
    padding: 10px 20px;
}

#right-nav-bar a:hover {
    background-color: #80cbc4;
    color: #333;
    text-decoration: none;
}

#right-nav-bar a:focus {
    background-color: #80cbc4;
    color: #333;
    text-decoration: none;
}

#right-nav-bar a:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#right-nav-bar a:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #80cbc4;
}