.widget-progress-bar-info {
    margin: 20px;
}

.widget-progress-bar-info .info-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.widget-progress-bar-info .info-div p {
    display: block;
    position: relative;
    left: 5px;
}

.info-span {
    height: 20px;
    width: 20px;
}

.success-info-span {
    background-color: #5cb85c;
}

.failure-info-span {
    background-color: #d9534f;
}

.other-info-span {
    background-color: #337ab7;
}