@font-face
{
    font-family: "Centar Sans";
    src: url("../fonts/centar_sans.otf");
}

@font-face
{
    font-family: "Lugatype";
    src: url("../fonts/lugatype.otf");
}

@font-face
{
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf");
}

@font-face
{
    font-family: "Roboto Black";
    src: url("../fonts/Robotoblack.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
}

body
{
    min-width: 280px;
    margin: 0;
    padding: 0;
}

.parent
{
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    font-family: 'Centar Sans';
}

.align-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* HEADER */

/* TOP */

#top {
    height: 120px;
    background-color: #fff176;/*80cbc4 ff8a65*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.top-logo {
    max-height: 100px;
}

.top-title {
    margin: 0;
    margin-left: 20px;
}

.top-title a {
    text-decoration: none;
    color: #333;
}

.top-title a:hover {
    text-decoration: none;
    color: #555;
}

.top-title a:focus {
    text-decoration: none;
    color: #555;
}

.top-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 5%;
}

.top-right p {
    margin: 5px 0;
}

.top-container {
    width: 100%;
    max-width: 1228px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* !TOP */

#header {
    height: 160px;
}

/* NAV */

#nav {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffccbc;/*d9edf7 ffccbc*/
}

#nav a {
    margin: 0 10px;
}

/* !NAV */

/* !HEADER */

/* BODY */

.main-container {
    margin-top: 10px;
}

.cards {

}

.grid-div {
    display: grid;
    width: 100%;
    padding: 5px;
    grid-column: 10;
    grid-row: 4;
    grid-template-rows: 10% min-content min-content 1fr;
    grid-template-columns: repeat(10, 9%);
    grid-column-gap: 1%;
    grid-row-gap: 10px;
}

a.grid-cell-div {
    padding: 20px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 1.5em;
    color: #333;
}

a.grid-cell-div:hover {
    background-color: #bbbbbb;
    text-decoration: none;
}

a.grid-cell-div:focus {
    text-decoration: none;
}

.question-img {
    width: 100%;
    padding-bottom: 10px;
}

.question-text {
    font-size: 1.2em;
    margin-left: 15px;
}

.question-horiz-line {
    width: 100%;
    color: #bbb;
    height: 4px;
    alignment: center;
}

.answers {
    width: 100%;
    margin: 20px 0;
}

.answer-text {
    display: block;
    padding: 10px;
    border: 5px solid white;
    border-radius: 5px;
    font-size: 1.2em;
    min-width: 100%;
    color: #333;
}

.answer-text:hover {
    color: #333;
    border: 5px solid #bbbbbb;
    text-decoration: none;
}

.answer-text:focus {
    color: #333;
    border: 5px solid #bbbbbb;
    text-decoration: none;
}

.answer-text.active {
    border: 5px solid #bbbbbb;
}

.comment-text {
    display: none;
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
}

.next-question-btn {
    display: none;
}

.question-status-container {
    margin-bottom: 15px;
}

.question-status-container a {
    line-height: 180%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 1px;
    margin: 1px;
    font-size: 1.1em;
    color: #333;
    border-radius: 2px;
}

.question-status-container a:hover {
    text-decoration: none;
}

.question-status-container a:focus {
    text-decoration: none;
}

.question-status-container a.active {
    color: white;
    background-color: #337ab7;
    pointer-events: none; /* делаем элемент неактивным для взаимодействия */
    cursor: default; /*  курсор в виде стрелки */
}

.question-status-container a.active:hover {
    background-color: #286090;
}

.question-status-container a.active:focus {
    background-color: #286090;
}

.question-status-container a.success {
    color: white;
    background-color: #5cb85c;
}

.question-status-container a.success:hover {
    background-color: #449d44;
}

.question-status-container a.success:focus {
    background-color: #449d44;
}

.question-status-container a.failure {
    color: white;
    background-color: #d9534f;
}

.question-status-container a.failure:hover {
    background-color: #ac2925;
}

.question-status-container a.failure:focus {
    background-color: #ac2925;
}

.end-page-container {
    font-size: 1.2em;
    text-align: center;
}

.end-page-image {
    width: 150px;
    margin-bottom: 20px;
}

a.disabled {
    pointer-events: none; /* делаем элемент неактивным для взаимодействия */
    cursor: default; /*  курсор в виде стрелки */
}

.personal-code-input {
    width: 50%;
    margin-bottom: 20px;
}

.learner-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.learner {
    width: 25%;
}

.practice-car-div {
    padding: 20px;
    background-color: #eee;
    border: #ccc solid 2px;
    border-radius: 10px;
    width: 100%;
}

.practice-car-div img {
    width: 300px;
}

.practice-car-link {
    color: #333;
}

.practice-car-link:focus {
    text-decoration: none;
    color: #333;
}

.practice-car-link:hover {
    text-decoration: none;
    color: #333;
}

.practice-car-link:hover .practice-car-div {
    background-color: #ccc;
}

.choose-practice-car-div {
    padding: 20px;
    background-color: #eee;
    border: #ccc solid 2px;
    border-radius: 10px;
    width: 100%;
}

.choose-practice-car-div img {
    width: 300px;
}

.choose-practice-car-link {
    color: #333;
    margin: 20px;
}

.choose-practice-car-link:focus {
    text-decoration: none;
    color: #333;
}

.choose-practice-car-link:hover {
    text-decoration: none;
    color: #333;
}

.choose-practice-car-link:hover .choose-practice-car-div {
    background-color: #ccc;
}

.offers-div {
    display: flex;
    flex-flow: row wrap;
}

.offers-block {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.offers-img {
    height: 150px;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.phone-block {
    text-align: center;
}

.phone-number-big {
    font-size: 2.5em;
}

.instructor-practice {
    margin-bottom: 20px;
}
/* !BODY */
